@mixin font-mobile-numbers {
font-family: Space Mono;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 36px;
letter-spacing: 0px;
text-align: right;
}

@mixin font-mobile-titles {
font-family: Space Mono;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 24px;
letter-spacing: 0px;
text-align: left;
}

@mixin font-mobile-sub-title {
font-family: Space Mono;
font-size: 13px;
font-style: normal;
font-weight: 700;
line-height: 19px;
letter-spacing: 0px;
text-align: left;

}

body {
    width: 375;
    margin: 0 auto;
}

svg {

}